* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 1rem;
}

.container {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.block {
    padding: 2%;
}

.caption {
    font-size: 3vh;
    width: 150px;
    border: 2px solid black;
    border-top-style: none;
    border-right-style: none;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(32, 54, 50, 0.21);
    border: 3px solid black;
    font-size: 20px;
    height: 25vh;
    overflow: hidden;
}

.text {
    padding: 0 5%;
}

.caption-1 {
    background-color: cornflowerblue;
}

.caption-2 {
    background-color: midnightblue;
    color: white;
}

.caption-3 {
    background-color: gold;
}

@media (max-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 993px) {
    .col-lg-4 {
        width: 33.33%;
    }

    .block {
        flex-basis: 33.33%;
    }
}
